<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Category</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#!/home">Home</a></li>
            <li class="active">Category</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Featured Blog ===-->
<div class="container content-sm">
    <div class="alert alert-danger fade in" ng-show="errorOnPage">
        <strong>Oh snap!</strong> {{message}}
    </div>
    <p>
        <button class="btn btn-success btn-xs" ng-click="showAddCategoryForm()"><i class="fa fa-plus"></i> Add New</button>
    </p>
    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50" ng-repeat="category in categories">
            <div class="feature-img">
                <img class="img-responsive margin-bottom-20" ng-src="/api/files/{{category.pictureID}}" alt="">
            </div>
            <h2><a class="color-dark" href="#">{{category.categoryName}}</a></h2>
            <p>{{category.description}}</p>
            <p>
                <button class="btn btn-warning btn-xs" ng-click="showEditCategoryForm(category.categoryID)"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-danger btn-xs" ng-click="deleteCategory(category.categoryID)"><i class="fa fa-trash-o"></i> Delete</button>
            </p>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Featured Blog ===-->